## World Health Organization Data Preparation 
#### Import some basic libraries

In [15]:
import pandas as pd
import csv
import matplotlib.pyplot as plt
%pylab inline
%matplotlib inline

Populating the interactive namespace from numpy and matplotlib

#### Reading the CSV file as a Dataframe

In [16]:

df = pd.read_excel(r'Country death by year.xlsx', parse_dates=True, index_col="Year" )
df.head(5)
mdf = pd.read_excel(r'metadata.xlsx')
mdf.head(5)
listdf = list(df)
len(mdf)
len(listdf)
listdf
mdf
df
df.index = pd.DatetimeIndex.strftime(df.index, '%Y') # Display year in CCYY format
df.index.name = 'Year' # function DatetimeIndex.strftime removes the index name, may be a bug
df.head(5)

,Country,Income Level,Total Population,Population Male,Population Female,"No. of deaths - Transport accidents, both sexes","No. of deaths - Transport accidents, male","No. of deaths - Transport accidents, female","No. of deaths - Falls, both sexes","No. of deaths - Falls, male",...,"No. of deaths - Intentional self-harm, both sexes","No. of deaths - Intentional self-harm, male","No. of deaths - Intentional self-harm, female","No. of deaths - Assault, both sexes","No. of deaths - Assault, male","No. of deaths - Assault, female","No. of deaths - All other external causes, both sexes","No. of deaths - All other external causes, male","No. of deaths - All other external causes, female",Peace Ranking
Year,,,,,,,,,,,,,,,,,,,,,
1985,ALBANIA,Upper Middle Income,2967000.0,1631850.0,1335150.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
1985,ANGUILLA,Upper Middle Income,7000.0,3640.0,3360.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.0,4.0,1.0,4
1985,ANTIGUA AND BARBUDA,High Income,66000.0,34650.0,31350.0,2.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,3
1985,ARGENTINA,Upper Middle Income,30389000.0,15954225.0,14434775.0,3251.0,2459.0,792.0,1116.0,546.0,...,2021.0,1477.0,544.0,1509.0,1252.0,257.0,5028.0,3625.0,1403.0,3
1985,ARMENIA,Lower Middle Income,3339000.0,1886535.0,1452465.0,345.0,257.0,88.0,86.0,47.0,...,74.0,52.0,22.0,49.0,36.0,13.0,581.0,361.0,220.0,6

##### Getting the dimension of training dataset rows x and column y

In [17]:
df.shape

(4309, 30)

## Column Heading change
#### Column heading were long and sentence like. We created a metadata file which would check for strings in the spreadsheet and assign the column name dynamically. Code would check for Text1 and Text2 in the header and assign the column name from corresponding row in column directory.

In [29]:
def ColumnNameChange(i):    
    for x in range(len(mdf.index)):
        c1 = mdf[mdf.index == x].Text1.to_string(index=False)       
        c2 = mdf[mdf.index == x].Text2.to_string(index=False)  
        c3 = mdf[mdf.index == x].Cols.to_string(index=False)
        if (i.find(c1) != -1) & (i.find(c2) != -1):
            df.rename(columns = {i:c3}, inplace=True)            
            return "changed"
        
for a in listdf:
    ColumnNameChange(a)
    

df.head(5)

,Country,IncomeLevel,TotalPop,PopMale,PopFemale,TransportAccAll,TransportAccMale,TransportAccFemale,FallsAll,FallsMale,...,SuicideMale,SuicideFemale,AssaultAll,AssaultMale,AssaultFemale,OtherAll,OtherMale,OtherFemale,PeaceRanking,TotalDeath
Year,,,,,,,,,,,,,,,,,,,,,
1985,ALBANIA,Upper Middle Income,2967000.0,55000.0,45000.0,10.279744,7.954162,2.325581,0.035215,0.029535,...,1.617796,0.842602,1.482979,1.145939,0.337041,5.190428,3.977081,1.213347,4,24.806202
1985,ANGUILLA,Upper Middle Income,7000.0,52000.0,48000.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,71.428571,57.142857,14.285714,4,100.000000
1985,ANTIGUA AND BARBUDA,High Income,66000.0,52500.0,47500.0,3.030303,1.515152,1.515152,0.000000,0.000000,...,0.000000,0.000000,1.515152,1.515152,0.000000,0.000000,0.000000,0.000000,3,13.636364
1985,ARGENTINA,Upper Middle Income,30389000.0,52500.0,47500.0,10.697950,8.091744,2.606206,0.012085,0.005912,...,4.860311,1.790121,4.965613,4.119912,0.845701,16.545461,11.928658,4.616802,3,48.152292
1985,ARMENIA,Lower Middle Income,3339000.0,56500.0,43500.0,10.332435,7.696915,2.635520,0.077138,0.042157,...,1.557353,0.658880,1.467505,1.078167,0.389338,17.400419,10.811620,6.588799,6,40.161725

In [30]:
df[df.Country == 'ALBANIA'].head(5)

,Country,IncomeLevel,TotalPop,PopMale,PopFemale,TransportAccAll,TransportAccMale,TransportAccFemale,FallsAll,FallsMale,...,SuicideMale,SuicideFemale,AssaultAll,AssaultMale,AssaultFemale,OtherAll,OtherMale,OtherFemale,PeaceRanking,TotalDeath
Year,,,,,,,,,,,,,,,,,,,,,
1985,ALBANIA,Upper Middle Income,2967000.0,55000.0,45000.0,10.279744,7.954162,2.325581,0.035215,0.029535,...,1.617796,0.842602,1.482979,1.145939,0.337041,5.190428,3.977081,1.213347,4,24.806202
1986,ALBANIA,Upper Middle Income,3029800.0,55000.0,45000.0,10.066671,7.789293,2.277378,0.033770,0.028323,...,1.584263,0.825137,1.452241,1.122186,0.330055,5.082844,3.894647,1.188197,4,24.292032
1987,ALBANIA,Upper Middle Income,3092600.0,55000.0,45000.0,9.862252,7.631119,2.231132,0.032413,0.027185,...,1.552092,0.808381,1.422751,1.099399,0.323353,4.979629,3.815560,1.164069,4,23.798745
1988,ALBANIA,Upper Middle Income,3155400.0,55000.0,45000.0,9.602586,7.669392,1.933194,0.039170,0.028122,...,1.299360,0.697217,1.552893,1.267668,0.285225,5.736198,4.183305,1.552893,4,24.465995
1989,ALBANIA,Upper Middle Income,3218200.0,55000.0,45000.0,11.062084,8.700516,2.361569,0.027035,0.022208,...,1.646883,0.466099,2.144056,1.584737,0.559319,5.499969,4.319185,1.180784,4,26.132621

## Handling Missing data
#### Some countries had data from 195, but missing several years in recent years, some were missing both at the beginning period and ending period. For e.g. Cuba. 
#### We used forward fill method to populate the data for future years and followed by backward fill to populate the beginning years as our first country in the set â€˜Albaniaâ€™ didnâ€™t have data for first few years. We encountered a problem with that approach as the data of one country used to prefill with another. We added the condition to check for the country and make sure we apply fillna to same country for the given set of years. We looped thru each country one by one to apply this function.

In [20]:
sdf = df

a = "India" 
for x in df.Country:
    if a != x:
        sdf[sdf.Country == x] = df[df.Country == x].fillna(method='ffill')       
        a = x
    #print(x)
for x in df.Country:
    if a != x:
        sdf[sdf.Country == x] = df[df.Country == x].fillna(method='bfill')       
        a = x

sdf.head(5)

,Country,IncomeLevel,TotalPop,PopMale,PopFemale,TransportAccAll,TransportAccMale,TransportAccFemale,FallsAll,FallsMale,...,SuicideAll,SuicideMale,SuicideFemale,AssaultAll,AssaultMale,AssaultFemale,OtherAll,OtherMale,OtherFemale,PeaceRanking
Year,,,,,,,,,,,,,,,,,,,,,
1985,ALBANIA,Upper Middle Income,2967000.0,1631850.0,1335150.0,305.0,236.0,69.0,31.0,26.0,...,73.0,48.0,25.0,44.0,34.0,10.0,154.0,118.0,36.0,4
1985,ANGUILLA,Upper Middle Income,7000.0,3640.0,3360.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.0,4.0,1.0,4
1985,ANTIGUA AND BARBUDA,High Income,66000.0,34650.0,31350.0,2.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,3
1985,ARGENTINA,Upper Middle Income,30389000.0,15954225.0,14434775.0,3251.0,2459.0,792.0,1116.0,546.0,...,2021.0,1477.0,544.0,1509.0,1252.0,257.0,5028.0,3625.0,1403.0,3
1985,ARMENIA,Lower Middle Income,3339000.0,1886535.0,1452465.0,345.0,257.0,88.0,86.0,47.0,...,74.0,52.0,22.0,49.0,36.0,13.0,581.0,361.0,220.0,6

## Write the updated file with Absolute numbers

In [21]:
df.to_excel(r'DataFileAssignment.xls')

In [22]:
FallsAllMean = df.groupby("Country").FallsAll.mean()
FallsMaleMean = df.groupby("Country").FallsMale.median()
FallsFemaleMean = df.groupby("Country").FallsFemale.mean()

In [23]:
df.describe()

,TotalPop,PopMale,PopFemale,TransportAccAll,TransportAccMale,TransportAccFemale,FallsAll,FallsMale,FallsFemale,DrowningAll,...,SuicideAll,SuicideMale,SuicideFemale,AssaultAll,AssaultMale,AssaultFemale,OtherAll,OtherMale,OtherFemale,PeaceRanking
count,4.309000e+03,4.309000e+03,4.309000e+03,4216.000000,4216.000000,4216.000000,4247.000000,4247.000000,4247.000000,4216.000000,...,4247.000000,4247.000000,4247.000000,4247.000000,4247.000000,4247.000000,4216.000000,4216.000000,4216.000000,4309.000000
mean,1.686220e+07,8.878281e+06,7.983917e+06,2320.092979,1763.354364,556.738615,914.238050,498.824818,415.413233,493.023008,...,1796.464092,1376.449258,420.014834,1375.390629,1165.141041,210.249588,3068.101755,2241.375000,826.726755,3.143885
std,3.577364e+07,1.882455e+07,1.695038e+07,6172.172834,4608.177504,1602.158865,2429.988374,1281.012266,1218.990903,1491.284363,...,5577.259866,4386.828221,1241.896221,5365.672942,4665.096504,828.319527,8392.837433,6395.484608,2113.953206,2.331050
min,2.000000e+03,1.070000e+03,9.300000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.448000e+05,2.332950e+05,2.102730e+05,36.750000,28.000000,8.000000,7.000000,5.000000,2.000000,10.000000,...,11.000000,9.000000,2.000000,10.000000,8.000000,2.000000,59.000000,42.750000,16.000000,1.000000
50%,4.432800e+06,2.352609e+06,2.081348e+06,421.000000,324.000000,90.000000,83.000000,61.000000,24.000000,68.000000,...,174.000000,131.000000,42.000000,91.000000,62.000000,24.000000,512.500000,360.000000,142.000000,3.000000
75%,1.445500e+07,7.271368e+06,6.916475e+06,1704.000000,1296.750000,376.250000,623.500000,397.000000,235.500000,313.000000,...,1156.000000,869.500000,292.000000,464.000000,339.500000,99.000000,2134.000000,1503.000000,622.000000,5.000000
max,3.217740e+08,1.689314e+08,1.528426e+08,51855.000000,37680.000000,15325.000000,31959.000000,16029.000000,15930.000000,20458.000000,...,61886.000000,51464.000000,10673.000000,59620.000000,54786.000000,11297.000000,104611.000000,82215.000000,22476.000000,7.000000

#### Create canada dataframe

In [24]:
Canada = df[df.Country=="Canada"]
del Canada["Country"]
Canada.head(5)
Canada.groupby("Year")

## Creating the data file with per 100K population

In [25]:
dfpct = df
dfpct.head(5)

,Country,IncomeLevel,TotalPop,PopMale,PopFemale,TransportAccAll,TransportAccMale,TransportAccFemale,FallsAll,FallsMale,...,SuicideAll,SuicideMale,SuicideFemale,AssaultAll,AssaultMale,AssaultFemale,OtherAll,OtherMale,OtherFemale,PeaceRanking
Year,,,,,,,,,,,,,,,,,,,,,
1985,ALBANIA,Upper Middle Income,2967000.0,1631850.0,1335150.0,305.0,236.0,69.0,31.0,26.0,...,73.0,48.0,25.0,44.0,34.0,10.0,154.0,118.0,36.0,4
1985,ANGUILLA,Upper Middle Income,7000.0,3640.0,3360.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.0,4.0,1.0,4
1985,ANTIGUA AND BARBUDA,High Income,66000.0,34650.0,31350.0,2.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,3
1985,ARGENTINA,Upper Middle Income,30389000.0,15954225.0,14434775.0,3251.0,2459.0,792.0,1116.0,546.0,...,2021.0,1477.0,544.0,1509.0,1252.0,257.0,5028.0,3625.0,1403.0,3
1985,ARMENIA,Lower Middle Income,3339000.0,1886535.0,1452465.0,345.0,257.0,88.0,86.0,47.0,...,74.0,52.0,22.0,49.0,36.0,13.0,581.0,361.0,220.0,6

In [26]:
per100K = 100000
dfpct.PopMale = dfpct.PopMale / dfpct.TotalPop * per100K
dfpct.PopFemale = dfpct.PopFemale / dfpct.TotalPop * per100K
TotalDeath = dfpct.TransportAccAll  + dfpct.FallsAll +  dfpct.DrowningAll + dfpct.FireAll + dfpct.PoisonAll + dfpct.SuicideAll + dfpct.AssaultAll + dfpct.OtherAll

dfpct.TransportAccAll = dfpct.TransportAccAll / dfpct.TotalPop * per100K
dfpct.TransportAccMale = dfpct.TransportAccMale / dfpct.TotalPop * per100K
dfpct.TransportAccFemale = dfpct.TransportAccFemale / dfpct.TotalPop * per100K
dfpct.FallsAll = dfpct.FallsAll / dfpct.TotalPop * per100K
dfpct.FallsMale = dfpct.FallsMale / dfpct.TotalPop * per100K
dfpct.FallsFemale = dfpct.FallsFemale / dfpct.TotalPop * per100K
dfpct.FallsAll = dfpct.FallsAll / dfpct.TotalPop * per100K
dfpct.FallsMale = dfpct.FallsMale / dfpct.TotalPop * per100K
dfpct.FallsFemale = dfpct.FallsFemale / dfpct.TotalPop * per100K
dfpct.DrowningAll = dfpct.DrowningAll / dfpct.TotalPop * per100K
dfpct.DrowningMale = dfpct.DrowningMale / dfpct.TotalPop * per100K
dfpct.DrowningFemale = dfpct.DrowningFemale / dfpct.TotalPop * per100K
dfpct.FireAll = dfpct.FireAll / dfpct.TotalPop * per100K
dfpct.FireMale = dfpct.FireMale / dfpct.TotalPop * per100K
dfpct.FireFemale = dfpct.FireFemale/ dfpct.TotalPop * per100K
dfpct.PoisonAll = dfpct.PoisonAll / dfpct.TotalPop * per100K
dfpct.PoisonMale = dfpct.PoisonMale / dfpct.TotalPop * per100K
dfpct.PoisonFemale = dfpct.PoisonFemale / dfpct.TotalPop * per100K
dfpct.SuicideAll = dfpct.SuicideAll / dfpct.TotalPop * per100K
dfpct.SuicideMale = dfpct.SuicideMale / dfpct.TotalPop * per100K
dfpct.SuicideFemale = dfpct.SuicideFemale / dfpct.TotalPop * per100K
dfpct.AssaultAll = dfpct.AssaultAll / dfpct.TotalPop * per100K
dfpct.AssaultMale = dfpct.AssaultMale / dfpct.TotalPop * per100K
dfpct.AssaultFemale = dfpct.AssaultFemale / dfpct.TotalPop * per100K
dfpct.OtherAll = dfpct.OtherAll / dfpct.TotalPop * per100K
dfpct.OtherMale = dfpct.OtherMale / dfpct.TotalPop * per100K
dfpct.OtherFemale = dfpct.OtherFemale / dfpct.TotalPop * per100K
dfpct["TotalDeath"] = TotalDeath / dfpct.TotalPop * per100K 

dfpct.fillna(method='ffill', inplace=True)
dfpct.fillna(method='bfill', inplace=True)

,Country,IncomeLevel,TotalPop,PopMale,PopFemale,TransportAccAll,TransportAccMale,TransportAccFemale,FallsAll,FallsMale,...,SuicideMale,SuicideFemale,AssaultAll,AssaultMale,AssaultFemale,OtherAll,OtherMale,OtherFemale,PeaceRanking,TotalDeath
Year,,,,,,,,,,,,,,,,,,,,,
1985,ALBANIA,Upper Middle Income,2967000.0,55000.0,45000.0,10.279744,7.954162,2.325581,0.035215,0.029535,...,1.617796,0.842602,1.482979,1.145939,0.337041,5.190428,3.977081,1.213347,4,24.806202
1985,ANGUILLA,Upper Middle Income,7000.0,52000.0,48000.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,71.428571,57.142857,14.285714,4,100.000000
1985,ANTIGUA AND BARBUDA,High Income,66000.0,52500.0,47500.0,3.030303,1.515152,1.515152,0.000000,0.000000,...,0.000000,0.000000,1.515152,1.515152,0.000000,0.000000,0.000000,0.000000,3,13.636364
1985,ARGENTINA,Upper Middle Income,30389000.0,52500.0,47500.0,10.697950,8.091744,2.606206,0.012085,0.005912,...,4.860311,1.790121,4.965613,4.119912,0.845701,16.545461,11.928658,4.616802,3,48.152292
1985,ARMENIA,Lower Middle Income,3339000.0,56500.0,43500.0,10.332435,7.696915,2.635520,0.077138,0.042157,...,1.557353,0.658880,1.467505,1.078167,0.389338,17.400419,10.811620,6.588799,6,40.161725
1985,ARUBA,High Income,63000.0,51000.0,49000.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,9.523810,4.761905,4.761905,3,9.523810
1985,AUSTRALIA,High Income,15791000.0,53000.0,47000.0,20.967640,15.375847,5.591793,0.038098,0.017405,...,9.100120,2.691406,1.988474,1.272877,0.715597,5.199164,3.805965,1.393199,1,50.041163
1985,AUSTRIA,High Income,7601000.0,52500.0,47500.0,21.484015,16.089988,5.394027,0.299263,0.113197,...,19.300092,8.209446,1.407710,0.763057,0.644652,8.248915,6.117616,2.131299,1,84.857256
1985,AZERBAIJAN,Upper Middle Income,6674000.0,55500.0,44500.0,10.548397,8.001199,2.547198,0.019981,0.013246,...,2.487264,1.168714,2.382379,1.723105,0.659275,13.545100,9.199880,4.345220,7,40.125862
1985,BAHAMAS,High Income,235000.0,51500.0,48500.0,18.297872,11.063830,7.234043,0.543232,0.543232,...,0.425532,0.000000,14.893617,14.468085,0.425532,31.063830,24.255319,6.808511,3,69.361702
1985,BAHRAIN,High Income,419000.0,51500.0,48500.0,6.205251,5.489260,0.715990,0.170881,0.170881,...,2.386635,0.238663,0.238663,0.238663,0.000000,5.011933,4.295943,0.715990,6,17.899761
1985,BARBADOS,High Income,256000.0,50500.0,49500.0,11.328125,8.593750,2.734375,1.678467,0.610352,...,1.953125,0.781250,7.421875,5.078125,2.343750,5.078125,3.906250,1.171875,3,43.750000
1985,BELARUS,Upper Middle Income,9991000.0,53000.0,47000.0,15.533981,11.230107,4.303873,0.036165,0.025145,...,18.766890,4.273846,4.674207,2.892603,1.781603,12.160945,8.908017,3.252928,6,86.938244
1985,BELGIUM,High Income,9893000.0,52500.0,47500.0,18.902254,13.979582,4.922673,0.139469,0.052824,...,15.384615,7.672091,2.021631,1.091681,0.929950,6.014354,3.345800,2.668554,1,68.098656
1985,BELIZE,Upper Middle Income,165000.0,52500.0,47500.0,11.515152,9.090909,2.424242,1.101928,0.367309,...,1.212121,0.606061,0.000000,0.000000,0.000000,23.636364,18.787879,4.848485,4,51.515152
1985,BERMUDA,High Income,59000.0,51000.0,49000.0,18.644068,13.559322,5.084746,0.000000,0.000000,...,1.694915,1.694915,3.389831,3.389831,0.000000,5.084746,3.389831,1.694915,3,52.542373
1985,BOLIVIA,Lower Middle Income,6212000.0,52500.0,47500.0,1.432711,1.110753,0.321958,0.002073,0.001555,...,0.144881,0.064392,0.177077,0.144881,0.032196,33.821636,23.808757,10.012878,5,37.958789
1985,BOSNIA AND HERZEGOVINA,Upper Middle Income,4370000.0,53500.0,46500.0,7.528604,5.789474,1.739130,0.000524,0.000524,...,7.711670,2.242563,0.091533,0.045767,0.045767,18.718535,14.302059,4.416476,4,46.064073
1985,BRAZIL,Upper Middle Income,136836000.0,52500.0,47500.0,18.215236,14.195826,4.019410,0.001308,0.000757,...,2.323950,0.784150,14.419451,13.128855,1.290596,19.136046,15.669853,3.466193,5,62.672835
1985,BRITISH VIRGIN ISLANDS,High Income,13000.0,52500.0,47500.0,23.076923,23.076923,0.000000,0.000000,0.000000,...,7.692308,0.000000,0.000000,0.000000,0.000000,7.692308,7.692308,0.000000,2,76.923077
1985,BRUNEI DARUSSALAM,High Income,223000.0,52500.0,47500.0,33.183857,26.905830,6.278027,3.217439,3.217439,...,4.932735,0.448430,4.035874,2.690583,1.345291,6.278027,6.278027,0.000000,2,67.264574
1985,BULGARIA,Upper Middle Income,8960000.0,53000.0,47000.0,15.479911,11.997768,3.482143,0.074737,0.053935,...,11.540179,4.709821,3.225446,2.310268,0.915179,12.645089,10.044643,2.600446,3,63.482143
1985,CABO VERDE,Lower Middle Income,314000.0,51500.0,48500.0,0.636943,0.318471,0.318471,0.000000,0.000000,...,11.783439,1.592357,16.242038,14.012739,2.229299,50.000000,41.082803,8.917197,5,92.038217
1985,CANADA,High Income,25848000.0,53000.0,47000.0,17.691891,12.716651,4.975240,0.027375,0.013501,...,9.927267,2.681058,2.077530,1.315382,0.762148,7.640823,5.462705,2.178118,1,51.907304
1985,CAYMAN ISLANDS,High Income,19000.0,51000.0,49000.0,110.526316,89.473684,21.052632,0.000000,0.000000,...,5.263158,0.000000,5.263158,5.263158,0.000000,15.789474,5.263158,10.526316,2,142.105263
1985,CHILE,Upper Middle Income,12109000.0,52000.0,48000.0,7.870179,6.697498,1.172681,0.034987,0.023665,...,4.723759,0.916674,3.195970,2.816087,0.379883,50.664795,39.309604,11.355190,2,74.399207
1985,COLOMBIA,Upper Middle Income,31012000.0,53000.0,47000.0,15.822907,12.192055,3.630853,0.010855,0.007528,...,2.553850,0.702954,39.020379,36.327873,2.692506,23.858506,19.647233,4.211273,7,94.215143
1985,COSTA RICA,High Income,2730000.0,52500.0,47500.0,14.505495,12.271062,2.234432,0.244200,0.151619,...,4.139194,0.586081,4.652015,3.809524,0.842491,6.190476,5.018315,1.172161,2,42.051282
1985,CROATIA,Upper Middle Income,4716000.0,53000.0,47000.0,24.003393,18.511450,5.491942,0.276970,0.119601,...,15.670059,6.594572,2.438507,1.505513,0.932994,12.765055,9.499576,3.265479,2,81.446141
1985,CUBA,Upper Middle Income,10083000.0,53000.0,47000.0,22.771001,18.179113,4.591887,0.165147,0.068656,...,13.230189,9.580482,6.674601,4.929089,1.745512,13.121095,8.519290,4.601805,5,88.505405
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015,SAUDI ARABIA,High Income,31540000.0,52500.0,47500.0,8.700063,7.691820,1.008244,0.001900,0.001659,...,0.187064,0.053900,0.000000,0.000000,0.000000,18.509829,15.738744,2.771084,6,28.091313
2015,SERBIA,Upper Middle Income,8851000.0,53500.0,46500.0,5.976726,4.722630,1.254096,0.047868,0.030763,...,9.682522,3.129590,1.287990,0.926449,0.361541,8.451022,5.931533,2.519489,4,34.741837
2015,SEYCHELLES,Upper Middle Income,96000.0,51500.0,48500.0,12.500000,8.333333,4.166667,2.170139,2.170139,...,2.083333,2.083333,8.333333,6.250000,2.083333,5.208333,5.208333,0.000000,0,47.916667
2015,SINGAPORE,High Income,5604000.0,53500.0,46500.0,2.141328,1.713062,0.428266,0.040121,0.033116,...,3.890079,1.980728,0.267666,0.196288,0.071378,0.910064,0.642398,0.267666,1,11.937901
2015,SLOVAKIA,High Income,5426000.0,53500.0,46500.0,7.887947,5.823811,2.064136,0.248289,0.144694,...,8.680428,1.529672,0.866200,0.534464,0.331736,20.420199,13.730188,6.690011,2,58.348691
2015,SLOVENIA,High Income,2068000.0,53500.0,46500.0,6.866538,5.367505,1.499033,1.148102,0.509748,...,16.054159,4.352031,0.628627,0.290135,0.338491,11.847195,8.075435,3.771760,1,67.456480
2015,SOUTH AFRICA,Upper Middle Income,54490000.0,51000.0,49000.0,10.822169,8.062030,2.760139,0.000616,0.000434,...,0.846027,0.222059,9.673335,8.570380,1.102955,56.329602,43.193246,13.136355,6,86.848963
2015,SPAIN,High Income,46122000.0,53500.0,46500.0,4.494601,3.486406,1.008196,0.012923,0.006736,...,6.370062,2.109622,0.687308,0.435801,0.251507,9.377304,4.631196,4.746108,2,32.312129
2015,SRI LANKA,Lower Middle Income,20715000.0,52000.0,48000.0,11.904417,9.592083,2.312334,0.027079,0.019552,...,15.047067,4.335023,3.142650,2.616462,0.526189,15.785663,12.208545,3.577118,6,62.577842
2015,SURINAME,Upper Middle Income,543000.0,52500.0,47500.0,13.075506,9.944751,3.130755,0.406988,0.305241,...,17.311234,6.629834,6.445672,4.235727,2.209945,9.760589,6.998158,2.762431,0,61.694291
2015,SWEDEN,High Income,9779000.0,53000.0,47000.0,3.098476,2.392883,0.705594,0.110427,0.060860,...,8.702321,3.384804,1.002147,0.736272,0.265876,17.598936,9.561305,8.037632,1,52.305962
2015,SWITZERLAND,High Income,8299000.0,53000.0,47000.0,3.855886,2.783468,1.072418,0.256412,0.108315,...,9.471021,3.434149,0.542234,0.216894,0.325340,4.771659,2.916014,1.855645,1,46.017592
2015,SYRIAN ARAB REPUBLIC,Lower Middle Income,18502000.0,53000.0,47000.0,7.982921,6.280402,1.702519,0.005872,0.004031,...,0.140525,0.032429,1.151227,0.918820,0.232407,5.502108,3.918495,1.583613,7,16.765755
2015,TAJIKISTAN,Lower Middle Income,8482000.0,52500.0,47500.0,3.643009,2.876680,0.766329,0.005143,0.003753,...,1.638764,0.565904,1.450130,1.084650,0.365480,6.991276,5.293563,1.697713,6,20.372554
2015,TFYR MACEDONIA,Upper Middle Income,2078000.0,54000.0,46000.0,6.977863,5.197305,1.780558,0.108845,0.057896,...,6.544755,1.636189,0.866218,0.577478,0.288739,6.207892,4.619827,1.588065,4,26.564004
2015,THAILAND,Upper Middle Income,67959000.0,52500.0,47500.0,22.173664,17.338395,4.835268,0.004346,0.003241,...,4.523316,1.291955,3.902353,3.307877,0.594476,15.965509,12.469283,3.496226,7,56.579702
2015,TRINIDAD AND TOBAGO,High Income,1360000.0,51500.0,48500.0,16.323529,12.647059,3.676471,0.118945,0.113538,...,9.485294,2.279412,35.661765,31.397059,4.264706,12.647059,9.632353,3.014706,5,82.867647
2015,TUNISIA,Lower Middle Income,11254000.0,53500.0,46500.0,2.647947,2.221432,0.426515,0.000947,0.000632,...,0.079972,0.017771,0.088857,0.088857,0.000000,7.215212,4.682779,2.532433,5,10.636218
2015,TURKEY,Upper Middle Income,78666000.0,52500.0,47500.0,8.487784,6.541581,1.946203,0.005830,0.003007,...,1.713574,0.588564,1.653828,1.365266,0.288562,5.956830,4.746650,1.210180,7,24.925635
2015,TURKMENISTAN,Upper Middle Income,5374000.0,52500.0,47500.0,2.679568,2.139933,0.539635,0.013158,0.012465,...,1.711946,0.818757,1.656122,1.321176,0.334946,10.290287,8.280610,2.009676,6,21.845925
2015,TURKS AND CAICOS ISLANDS,High Income,34000.0,52500.0,47500.0,8.823529,8.823529,0.000000,0.000000,0.000000,...,2.941176,0.000000,5.882353,5.882353,0.000000,5.882353,5.882353,0.000000,0,29.411765
2015,UKRAINE,Lower Middle Income,44824000.0,53000.0,47000.0,11.520614,8.805551,2.715063,0.010706,0.008192,...,14.309299,3.471355,6.347046,4.738533,1.608513,29.194182,23.607889,5.586293,5,89.539086
2015,UNITED ARAB EMIRATES,High Income,9157000.0,52500.0,47500.0,11.520614,8.805551,2.715063,0.017770,0.015862,...,0.971934,0.251174,0.294856,0.240253,0.054603,29.194182,23.607889,5.586293,3,89.539086
2015,UNITED KINGDOM,High Income,64716000.0,52500.0,47500.0,2.769022,2.072131,0.696891,0.012289,0.006091,...,5.919711,1.534396,0.227146,0.174609,0.052537,10.689783,5.907349,4.782434,3,34.402621
2015,UNITED STATES OF AMERICA,High Income,321774000.0,52500.0,47500.0,11.559355,8.282210,3.277145,0.003087,0.001548,...,10.290763,3.002107,4.913076,3.881917,1.031159,8.211043,4.930790,3.280253,6,62.868970
2015,URUGUAY,High Income,3432000.0,52000.0,48000.0,14.423077,11.538462,2.884615,0.037356,0.022074,...,13.578089,3.933566,6.439394,5.390443,1.048951,25.466200,13.927739,11.538462,2,69.522145
2015,UZBEKISTAN,Lower Middle Income,29893000.0,53000.0,47000.0,8.503663,6.851102,1.652561,0.003122,0.002619,...,4.710133,2.308233,1.391630,1.033687,0.357943,7.841301,6.185395,1.655906,6,30.803198
2015,VENEZUELA,Upper Middle Income,31108000.0,52500.0,47500.0,22.717629,18.876173,3.841456,0.006965,0.004619,...,1.610518,0.376109,28.436415,26.851614,1.584801,36.058249,31.866401,4.191848,6,93.445416
2015,VIRGIN ISLANDS,High Income,106000.0,53000.0,47000.0,16.037736,11.320755,4.716981,0.000000,0.000000,...,5.660377,3.773585,49.056604,47.169811,1.886792,9.433962,8.490566,0.943396,0,94.339623
2015,ZIMBABWE,Low Income,15603000.0,51500.0,48500.0,8.530411,6.524386,2.006024,0.005545,0.003656,...,3.275011,1.647119,3.762097,2.589246,1.172851,5.024675,3.255784,1.768891,7,28.488111

In [32]:
dfpct.groupby(dfpct.Country).mean().head(5)

,TotalPop,PopMale,PopFemale,TransportAccAll,TransportAccMale,TransportAccFemale,FallsAll,FallsMale,FallsFemale,DrowningAll,...,SuicideMale,SuicideFemale,AssaultAll,AssaultMale,AssaultFemale,OtherAll,OtherMale,OtherFemale,PeaceRanking,TotalDeath
Country,,,,,,,,,,,,,,,,,,,,,
ALBANIA,3.066516e+06,55000.0,45000.0,8.054037,6.437697,1.616340,0.035885,0.028125,0.007760,2.514561,...,1.913634,1.012790,5.530338,4.775640,0.754698,10.336141,7.712238,2.623903,4,32.173882
ANGUILLA,1.116129e+04,52000.0,48000.0,12.458575,10.566430,1.892145,9.991540,5.769930,4.221611,4.429156,...,0.500543,0.000000,4.968792,3.533630,1.435162,15.793135,12.290917,3.502218,4,41.292154
ANTIGUA AND BARBUDA,7.625806e+04,52500.0,47500.0,4.774106,3.712834,1.061272,0.636069,0.431592,0.204477,4.299919,...,0.422215,0.000000,3.095016,2.205024,0.889992,15.215629,11.424510,3.791119,3,31.109990
ARGENTINA,3.700542e+07,52500.0,47500.0,11.519108,8.769841,2.749267,0.005151,0.002681,0.002470,1.976006,...,5.567486,1.624978,5.132838,4.335602,0.797235,20.963306,14.907950,6.055356,3,50.347812
ARMENIA,3.167129e+06,56500.0,43500.0,8.815931,6.731275,2.084656,0.040269,0.026496,0.013773,1.367762,...,1.745469,0.610653,3.581026,2.942019,0.639006,40.911957,25.398977,15.512980,6,60.631460

In [28]:
#write file with per 100K population
dfpct.to_excel(r'DataFileAssignmentbyPct.xls')